.container-price{
    padding:125px 294px;
    box-sizing:border-box;
}

#graphic{
    width:991px!important;
    height:460px!important;
}

.breadcrumbs{
    color:#324B80;
    margin-left:30px;
}

.breadcrumbs a{
    color:#324B80;
    text-decoration: none;
    font-size:18px;
}
.graphic-content{
    width:991px;
}

.wrapper{
    display:flex;
    margin-top:50px;
    justify-content: space-between;
}

.graphic-content__header{
    display:flex;
    justify-content: space-between;
}
.logo-crypto{
    display:flex;
    align-items:center;
}

.list-crypto{
    width:435px;
    margin-left: 50px;
}
.logo-crypto i{
    font-size:2.5em;
    margin-left:30px;
}
.logo-crypto h4{
    margin:0;
    margin-left:20px;
    font-size:48px;
    color:#324B80;
    font-weight: 500;
}
.price-info{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right:15px;
}

.price-info span{
    font-size:24px;
}

.up-price{
    color:#06CE91;
}

.price-info h4{
    margin:0;
    font-size:48px;
    color:#324B80;
    font-weight: 500;
}

.logo-crypto h4 span{
    margin:0;
    font-size:48px;
    color:#929EAA;
    font-weight: 500;
}

.wrapper-canvas{
    margin-top:40px;
}

.short-caption p{
    font-size: 18px;
line-height: 32px;
padding:40px 30px ;
color:#324B80;
}
.wrapper-features{
    display:flex;
    justify-content: space-between;
}
.item-feature{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:180px;
}

.list-item-crypto{
    margin:15px 0;
}

.list-other-cryptos{
    margin-top:56px;
}

.list-item-crypto{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:5px;
    box-sizing: border-box;
    cursor: pointer;
    transition:all .3s ease-in-out;
}

.list-item-crypto:hover{
   background: #F0F9FF;
}


.price-another-crypto span{
    color:#324B80;
    font-size:24px;
    font-weight:500;
}

.logo-name-info{
    display: flex;
    align-items: center;
}

.name-info{
    display:flex;
    flex-direction: column;
}


.name-info span{
    margin-left:10px;
}

.name-info span:first-child{
    font-size:24px;
    color:#324B80;
    margin-bottom:5px;
}


.name-info span:nth-child(2){
    font-size:18px;
    color:#929EAA;
}

.features-block-container{
    margin-left:30px;
}

.list-crypto a{
    background: #2FA6FA;
    border-radius: 48px;
    text-transform: uppercase;
    width: 433px;
    border: none;
    color: white;
    font-size: 18px;
    height: 64px;
    outline: none;
}

.features-block-container h2{
    margin:0;
    padding-bottom:50px;
    color:#324B80;
    font-size:36px;
}

.item-feature__title-feature{
    margin:0;
    padding:15px 0;
    color:#324B80;
    font-size:24px;
}

p.item-feature__short-caption-feature{
    text-align: center;
    margin:0;
    padding:0;
    color:#324B80;
    font-size:18px;
}

@media only screen and (max-width: 1780px){
    .container-price{
        padding:125px 120px;
        box-sizing:border-box;
    }
}

@media only screen and (max-width: 1620px){
    .list-crypto{
        width:435px;
        margin-left: 30px;
    }

}


@media only screen and (max-width: 1600px){
    .list-crypto{
        width:435px;
        margin-left: 30px;
    }

    .wrapper{
        flex-wrap: wrap;
    }
    .graphic-content{
        width:100%;
    }
    #graphic{
        height:auto!important;
        width:100%!important;
    }

    .list-crypto{
        margin-top: 50px;
    }
}

@media only screen and (max-width: 1450px)
{
    .container-price {
        
        padding:125px 20px;
    
    }
}