

.data-table-wrap{
	margin:0 auto;
	padding: 0 50px;
    box-sizing: border-box;
}

.data-table-wrap table{
		margin:0 auto;
		    border-collapse: collapse;
			width:100%;
}
.data-table-wrap table thead tr td{
		font-size:18px;
		padding:20px 0;
		color:#627080;
		text-transform: uppercase;
		font-weight:500;
}

.data-table-wrap table thead tr td:last-child{
		width:188px;
		text-align: center;
}
.data-table-wrap table thead tr td:first-child{
		width:300px;
}

.data-table-wrap table tbody tr td:last-child{
		width:188px;
}

td.price-td a{
	color: #2FA6FA!important;
}

.icon-wrap-crypto{
	font-size:15px;
	padding:0 5px;
}



.data-table-wrap table thead tr{
	border-bottom: 1px solid #D1D8E2;
	display:flex;
	justify-content:space-between;
	align-items:center;
	
}

.data-table-wrap table tbody tr{
		 border-bottom: 1px solid #D1D8E2;
		 display:flex;
	justify-content:space-between;
	align-items:center;
	position: relative;
	height:90px;
	box-sizing:border-box;
}
   

.data-table-wrap table tbody tr td{
		padding:30px 0;
		font-size:24px;
		color:#172A3F;
		text-align:center;
		position: relative;
		z-index: 20;
}


.data-table-wrap table tbody tr td a{
		color:#172A3F;
}

td.down{
	color:red!important;
}

td.up{
	color:#31D37D!important;
}

.clickable_zone{
	position: absolute;
    left: 0;
    z-index: 15;
    width: 80%;
	height: 100%;
	cursor: pointer;
}

.data-table-wrap table tbody tr:hover{
	background:#F5FBFF;
	transition:all .3s ease-in-out;
}

.data-table-wrap table tbody tr td a:hover{
	
    text-decoration: underline;
}

.data-table-wrap table tbody tr td:first-child{
		display:flex;
		align-items:center;
		width:300px;
}


.data-table-wrap table thead tr td:nth-child(2){
	width:110px;
	text-align: right;
}


.data-table-wrap table tbody tr td:nth-child(2){
	width:110px;
	text-align: right;

}

.data-table-wrap table thead tr td:nth-child(3){
	width:125px;
	text-align: right;
}


.data-table-wrap table tbody tr td:nth-child(3){
	width:125px;
	text-align: right;
}

.data-table-wrap table thead tr td:nth-child(4){
	width:130px;
	text-align: right;
}


.data-table-wrap table tbody tr td:nth-child(4){
	width:130px;
	text-align: right;
}


.data-table-wrap table thead tr td:nth-child(5){
	width:130px;
	text-align: right;
}


.data-table-wrap table tbody tr td:nth-child(5){
	width:130px;
	text-align: right;
}

.data-table-wrap table thead tr td:nth-child(6){
	width:216px;
	text-align: right;
}


.data-table-wrap table tbody tr td:nth-child(6){
	width:216px;
	text-align: right;
}






.data-table-wrap table tbody tr td:first-child a{
	margin-left:30px;
	text-align: left;
}



.actions-button{
	width: 188px;
    display: block;
	margin:0 auto;

}

.actions-button a{
    display:block;
    width: 100%;
    line-height:50px;
    cursor: pointer;
	font-size: 18px;
	height:50px;
    background: #2FA6FA;
	border-radius: 48px;
	color:white!important;
	text-align:center;
	cursor:pointer;
	text-decoration:none!important;
}


.actions-button a:hover{
    
	background: linear-gradient(360deg, #0075E2 0%, #41C1FD 100%, #41C1FD 100%)!important;
}

.ticker{
	color:#B5BBC2;
}


@media(max-width:1120px){
	
	.data-table-wrap{
		width:100vw;
		margin:0;
		padding:0 15px;
		box-sizing:border-box;
	}
	.data-table-wrap table{
		width:100%;
		margin:0;
	}
	
	.data-table-wrap table tbody tr td{
		font-size:15px;
		padding:20px;
	}
	
	.data-table-wrap table thead tr td{
		padding:20px;
		font-size:16px;
	}
	
}



@media(max-width:991px){
.main-title{
	font-size:30px!important;	
}
.actions-button{
	flex-wrap:wrap;
	width:110px;
}

.actions-button a{
	margin: 10px 0;
}
	
.data-table-wrap table thead tr td:first-child{
	width:235px;
}


.data-table-wrap table tbody tr td:first-child{
	width:auto
}
	
	
.data-table-wrap table tbody tr td:last-child{
		width:auto!important;
}	
.data-table-wrap table thead tr td:last-child{
	width:135px!important;
}
	

	
}




@media(max-width:760px){
	.data-table-wrap table tbody tr td:nth-child(4){
		display:none;
}	

	.data-table-wrap table tbody tr td:nth-child(5){
		display:none;
}	
.data-table-wrap table thead tr td:nth-child(4){
	display:none;
}

.data-table-wrap table thead tr td:nth-child(5){
	display:none;
}

.data-table-wrap table thead tr td:first-child{
	width:170px;
}
	.data-table-wrap table tbody tr td{
		padding:10px;
	}
	
	.data-table-wrap table tbody tr td{
		font-size:13px;
	}	
	
	.actions-button{
		width:100px;
	}
	
	.data-table-wrap table tbody tr td:first-child span{
		font-size:13px;
	}
	
	.data-table-wrap table thead tr td {
    padding: 15px;
    font-size: 14px;
}

.actions-button a{
	width:80px;
	font-size:14px;
}
}


@media(max-width:590px){
	.search-container .search-block .input-wrapper input {
		width: 400px!important;
	}


	.data-table-wrap table thead tr td:last-child {
		width: 100px!important;
	}
}	


@media(max-width:510px){
	.data-table-wrap table tbody tr td:first-child span{
		font-size:8px;
	}
	.actions-button{
		width:70px;
	}

	.data-table-wrap table tbody tr td:first-child{
		flex-wrap:wrap;
	flex-direction: column;
	width:100px;
	}
}	

@media(max-width:460px){
	.data-table-wrap table tbody tr{
		flex-wrap:wrap;
	}
	
	.main-title{
		font-size:20px;
		line-height:40px!important;
	}
	
	.search-container .search-block .input-wrapper input {
		width: 360px!important;
	}

	.data-table-wrap table thead tr td:first-child {
		width: 125px!important;
	}

	.actions-button a {
		font-size: 12px;
	}
	
}


