.item-page-container {
	overflow: hidden;
}
.head-article {

}
.item-page {
	max-width: 1208px;
	padding: 0 20px;
	margin: 0 auto;
}

.item-page-image {
	display: block;
	width: 65px;
	margin: 0 auto 15px auto;
}
.content-article {
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
}
.widget-cc {
	width:  680px;
	margin: 0 auto;
	margin-top: 35px;
}


.item-page p {
	font-size: 18px;
	line-height: 30px;
	font-family: "Roboto";
	max-width: 680px;
	margin: 0 auto;
}
.button-suggest {
	margin-top: 20px;
}
.button-left {
	float: left;
}
.button-left:hover {
	text-decoration: underline;
}
.button-right {
	float: right;
}
.button-right:hover {
	text-decoration: underline;
}

.suggest-articles-button {
	display: inline-block;
	text-align: center;
	line-height: 34px;
	font-weight: 300;
	font-size: 16px;
	border-radius: 18px;
	opacity: 1;
	cursor: pointer;
	padding: 0 10px 0 10px;
	margin-right: auto;
	margin-left: auto;
	display: block;
	width: 450px;
	margin-bottom: 70px;
	text-decoration: none !important;
}
.suggest-articles-button:hover {
	color: gray;
}
/*.item-page h2, h3 {
    margin-left: 200px;
    text-align: left !important;
    padding: 0px !important;
}*/
.widget-paragraph {
	max-width: 700px;
	display: flex;
	margin-left: auto;
	margin-right: auto;
}
.widget-rate {

	padding: 20px;
}
.item-page-image-template iframe {
	box-shadow: 0 38px 50px rgba(34, 83, 139, 0.16);
}
.item-page ul, ol {
	width: 680px;
	margin: 0 auto;
	padding-left: 60px;
	margin-bottom: 30px;
	margin-top: 30px;
}
.item-page li {
	font-size: 18px;
	line-height: 30px;
	font-family: "Roboto";
	font-weight: normal;
	max-width: 680px;

}
.item-page ol li {
	font-size: 18px;
	line-height: 28px;
	width: 100%;
	padding-right: 20px;
	margin-top: 10px;
	/*margin-bottom: 5px;*/
}
.item-page ul li {
	margin-top: 10px;
	margin-bottom: 10px;
}

.item-page-article {
	line-height: 33px;
	font-size: 24px;
	color: #182848;
	position: relative;
	z-index: 1;
}
/*.item-page-article h3, h4 {
    margin-left: 200px;
    padding-top: 20px;
    margin-bottom: -15px;
    padding-left: 0px;

}*/
.item-page-article h4 {
	font-size: 23px;
	line-height: 37px;
	margin-top: 30px;
	text-align: center;
	max-width: 680px;
	margin: 0 auto;
	padding: 0;
	/*margin-bottom: -25px;*/

}

.item-page-article h3 {
	text-align: center;
	font-size: 29px;
	line-height: 46px;
	margin-top: 49px;
	max-width: 680px;
	margin: 0 auto;
	padding: 0;
	margin-bottom: -10px;

}
.item-page-article h2 {
	width: 680px;
	font-family: "Roboto";
	font-weight: bold;
	line-height: 47px;
	font-size: 36px;
	color: #182848;
	padding-top: 22px;
	text-align: center;
	margin: 0 auto;
	margin-bottom: -10px;
}
.releases {
	padding-bottom: 50px;
}
.releases li {
	font-size: 16px;
	line-height: 22px;
	font-family: "Roboto";
	font-weight: normal;
	max-width: 600px;
	margin-left: 34px;
	margin-top: 10px !important;
	margin-bottom: 10px !important;
	padding-left: 5px;

}
cite,
blockquote {
	font-size: 15px;
	display: block;
	text-align: center;
	max-width: 700px;
	margin-left: auto;
	margin-right: auto;
}
.item-page-download h2 {
	text-align: center !important;
	margin-left: 0px;
	padding: 15px;
}
.releases h2, h3, h4, h5 {
	text-align: center;
	margin-left: 0px;
	padding: 15px;
}
.releases h3 {
	margin-left: 0px;
	padding-top: 40px;
	text-align: center !important;

}
.footer-new-left h4 {
	text-align: left;
}
.releases h4 {
	font-size: 20px;
	padding-top: 15px;
	padding-bottom: 5px;
}
.releases h5 {
	padding-top: 5px;
	padding: 10px;
}

.item-page-article {
	line-height: 33px;
	font-size: 24px;
	color: #182848;
	position: relative;
	z-index: 1;
}
.item-page-bg {
	position: absolute;
	z-index: -1;
}
.item-page-bg-1 {
	top: 120px;
	right: -400px;
}
.item-page-bg-2 {
	top: 460px;
	left: -390px;
}
.item-page-bg-3 {
	bottom: -110px;
	right: -380px;
}
.item-page-download a {
	text-decoration: none !important;
}
.item-page-article a {
	color: #182848;
	text-decoration: underline;
}
.item-page-article a:hover {
	text-decoration: none;
}
.download-name a {
	text-decoration: none;
}

.item-page-image-template {
	text-align: center;
	max-width: 680px;
	margin: 20px auto;
}

.item-page-image-template-container {
	position: relative;
	display: flex;
	max-width: 950px;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 100px;
}
.item-page-image-template-container p {
	font-size: 17px;
	line-height: 28px;
}
.item-page-image-interface img {
	width: 500px;
	margin-right: 25px;
}
.item-page-image-wallet-download{
	margin-left: 10px;
	height: auto;
}
.item-page-image-wallet-download h4 {
	margin-top: 0px;
}
.item-page-image-wallet-download p {
	padding: 0px 10px 0px 10px;
	margin-top: 0px !important;
}
.item-page-article p,
.item-page-article li{
	margin-top: 15px;
	margin-bottom: 25px;
}
ul .article-li {
	font-size: 16px;
	line-height: 24px;
	margin-top: -25px;

}
.item-page-download {
	margin-top: 75px;
	margin-bottom: 100px;
}
.item-page-download-title {
	font-family: "Roboto Bold";
	font-weight: bold;
	line-height: 67px;
	font-size: 48px;
	text-align: center;
	color: #182848;
	padding-bottom: 30px;
	margin-top: 100px;
}

.button-wallet {
	display: inline-block;
	text-align: center;
	line-height: 34px;
	font-weight: 300;
	font-size: 16px;
	color: #ffffff !important;
	border-radius: 18px;
	background-color: #1d345d;
	opacity: 1;
	cursor: pointer;
	padding: 0 10px 0 10px;
	margin-right: auto;
	margin-left: auto;
	display: block;
	width: 450px;
	margin-bottom: 70px;
	text-decoration: none !important;
}
.button-wallet:hover {
	background-color: #369127;
	transition: all .5s;
}
.widget-cmc {
	width: 850px;
	padding-left: 300px;
}
.coinmarketcap-currency-widget {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.item-page-blog-image img {
	max-width: 680px;
	height: auto;
}
.blog-div {
	justify-content: center;
	background-color: #FFFFFF;
	box-shadow: 0 38px 50px rgba(34, 83, 139, 0.1);
	border-radius: 16px;
	height: 450px;
	/* padding-top: 45px; */
	width: 400px;
	margin-left: 100px;
	margin-right: auto;
	margin-top: 50px;
	display: inline-block;
}
.blog-div:hover {
	color: #535964;
}


.blog-div-text h4 {
	margin-top: -30px;

}
.blog-div-text p {
	font-size: 16px;
	padding: 15px;
	margin-left: 5px;
	margin-top: -20px;
}
.blog-container {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 150px;
}
.small-image-blog {


}
.small-image-blog img {
	object-fit: fill;
	height: 239px;
	margin-left: 5px;
	border-radius: 16px;
}
.blog-header-h1 {
	top: 50px;
	position: relative;
	z-index: 2;
	background-color: gainsboro;
	width: 651px;
	margin-left: auto;
	margin-right: auto;
}
.blog-container a:nth-child(2) .blog-div .small-image-blog img {
	width: 350px;
	padding-left: 20px;
}
.blog-container a:nth-child(3) .blog-div .small-image-blog img {
	width: 390px;
}
.blog-container a:nth-child(4) .blog-div .small-image-blog img {
	width: 395px;
}
.blog-container a:nth-child(5) .blog-div .small-image-blog img {
	width: 390px;
	padding-left: 20px;
}
.blog-container a:nth-child(5) .blog-div {
	/*margin-left: 350px;
	margin-top: 100px;*/

}
@media screen and (max-width: 830px) {
	.item-page-download-title {
		line-height: 47px;
		font-size: 28px;
	}
	.item-page h1 {
		line-height: 50px;
		font-size: 38px;
		margin-left: none;
	}
	.button-right {
		float: none;
	}
	.widget-cc {
		max-width: 100%;
	}

	.item-page-article {
		line-height: 1.5;
		font-size: 16px;
	}
	.item-page-article p, .item-page-article .item-page-image-template, .item-page-article h2, .item-page-article h3 {
		margin-top: 15px;
		margin-bottom: 15px;
		margin-left: 0;

	}
	.releases li {
		line-height: 20px;
		padding: 5px;
	}

	.item-page-article p {
		font-size: 15px;
		max-width: 327px;
	}
	.item-page-download {
		margin-top: 35px;
		margin-bottom: 80px;
	}
	.button-wallet {
		margin-left: auto;
		margin-right: auto;
		max-width: 350px;
	}

	.coinmarketcap-currency-widget {
		width: auto !important;
	}
	.widget-paragraph {
		flex-wrap: wrap;
	}
}
@media screen and (min-width: 320px) and (max-width: 768px) {

	.item-page-blog-image img, .item-page-image-template img {
		width: 100%;
	}

	.item-page p {
		max-width: 100%;
		width: 100%;
		padding: 0 20px;
		margin-top: 0px;
		margin-bottom: 25px;
	}
	.item-page-image-template-container {
		flex-wrap: wrap;
		margin-bottom: 0px;
	}
	.item-page-image-template iframe {
		width: 100%;
		height: 230px;
		box-shadow: 0 38px 50px rgba(34, 83, 139, 0.16);
		padding-top: 20px;
	}
	.item-page-container {
		margin-top: -128px;
	}
	.header-article img {
		width: 60px;
	}
	.item-page h1 {
		padding: 0 20px;
		line-height: 47px;
		font-size: 36px;
		margin-bottom: 26px;
		font-weight: bold;
		font-family: "Roboto";
		width: 100%;
		text-align: center;
	}
	.item-page-article h2 {
		text-align: left;
		padding-left: 20px;
		padding-right: 20px;
		font-size: 20px;
		font-size: 32px;
		line-height: 45px;
		padding-top: 0;
		margin-top: 35px;
		padding-bottom: 10px;
		margin-bottom: 0px;
		width: 100%;
		text-align: center;
	}
	.item-page-article h3 {
		padding-left: 20px;
		padding-right: 20px;
		text-align: left;
		margin-bottom: 0px;
		padding-top: 0;
		margin-top: 35px;
		padding-bottom: 10px;
		width: 100%;
		text-align: center;
	}
	.item-page-article h4 {
		font-size: 22px;
		line-height: 27px;
		margin-top: 0px;
		padding: 0px 20px 15px 20px;
		margin-bottom: unset;
		width: 100%;
		text-align: center;
	}
	.item-page-article p {
		font-size: 15px;
		line-height: 28px;
	}
	.item-page-image-template-container p {
		font-size: 15px;
		line-height: 26px;
	}
	.item-page-image-interface img {
		width: 99%;
		margin-right: 0px;
		margin-bottom: 20px;
	}
	#toc_container {
		width: auto;
		display: flex;
	}
	.item-page-article li {
		margin-top: 10px;
		margin-bottom: 10px;
	}
	.item-page li {
		font-size: 14px;
		line-height: 25px;
		padding-left: 0px;
		margin-left: 26px;
	}
	.button-wallet {
		text-align: center;
		line-height: 30px;
		font-weight: 300;
		font-size: 14px;
		color: #ffffff !important;
		border-radius: 18px;
		background-color: #1d345d;
		border: 1px solid #182848;
		opacity: 1;
		cursor: pointer;
		padding: 0 10px 0 10px;
		margin-right: auto;
		margin-left: auto;
		display: block;
		width: 228px;
		margin-bottom: 70px;
		text-decoration: none !important;
	}
	.suggest-articles-button {
		width: auto;
	}
	.widget-rate {
		margin: auto;
	}
	.item-page ul li, .item-page ol li {
		font-size: 16px;
		line-height: 25px;
		width: 100%;
		padding-right: 20px;
		margin-top: 5px;
		margin-bottom: 5px;
	}
	.item-page ul, ol {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		padding-left: 20px;
		margin-top: 0px;
	}
	.item-page img.item-page-image {
		margin-top: 40px;
	}
}
@media screen and (min-width: 768px) and (max-width: 1000px) {
	.item-page p {
		max-width: 550px;
		margin-left: auto;
		margin-right: auto;
	}
	.item-page-image-template-container {
		flex-wrap: wrap;
	}
	.item-page-container {
		overflow: inherit;
	}
	.header-article {
		margin-top: -20px;
	}


	.header-button {
		position: absolute;
		top: 25px;
		right: -50px;
		width: 65px;
		height: 65px;
		background: url(images/icons/menu.svg) no-repeat center;
		cursor: pointer;
		border: none;
	}
	.item-page-image-template-container{
		margin-bottom: 30px;
	}
	.item-page-image-template-container p {

		margin-bottom: 25px;
		padding:  10px;
	}
	.item-page-image-wallet-download h4 {
		margin-top: 25px;
	}
	.button-wallet {
		line-height: 36px;
	}
}
@media screen and (min-width: 1001px) and (max-width: 1439px) {


	.item-page-image-interface img {
		margin-right: 60px;
	}
	.item-page h1 {
		font-size: 40px;
	}
}



/* Test media */
.only-mobile {
	display: none;
}

@media screen and (min-width: 800px) and (max-width: 1299px) {
	.main-notebook {
		position: absolute;
		top: -90px;
		width: 710px;
		right: -40px;
		margin-top: 50px;
	}
	.main-notebook-test {
		right: -40px;
	}

	.main-notebook1 {
		position: absolute;
		top: -90px;
		width: 710px;
		margin-top: 50px;
		right: -350px;
	}



	.partners-list a + a,
	.partners-list img + img,
	.partners-list a + img {
		/*padding-left: 30px;*/
	}

	.partners-list a img {
		object-fit: contain;
	}



	.support .card-item {
		width: 32%;
	}

	/* flex */

	.flex-item:nth-child(2) {
		width: 121%;
	}
	.flex-item:nth-child(2) img {
		width: 106%;
		height: 50%;
	}

}

@media screen and (min-width: 1300px) and (max-width: 1920px) {
	.main-notebook {
		right: -80px;
		width: 740px;
	}

	.main-notebook-wallet {
		right: -50px;
		width: 730px;
	}

	.comments-arrows-reviews {
		top: 30px;
	}
	.partners-list {
		/*max-width: 800px;*/
	}

	/* flex */

	.flex-item:nth-child(2) {
		margin-right: auto;
		width: 50%;
	}
	.flex {
		padding: 80px;
	}
	.flex-container {
		width: 80%;
	}
}

@media screen and (max-width: 830px) {
	body {
		min-width: inherit;
	}
	iframe {
		width: 100%;
		height: 230px;
	}

	.container {
		width: 100%;
		padding: 0 20px;
	}

	.only-mobile {
		display: block;
	}

	.mobile-hide {
		display: none;
	}

	/* icons */
	.icon {
		width: 46px;
		height: 46px;
	}

	.icon-star {
		background-size: 20px auto;
	}

	.icon-buy-crypto, .icon-secure, .icon-exchange, .icon-migration {
		background-size: 18px auto;
		position: relative;
		top: 20px;
	}


	.icon-partners {
		background-size: 22px auto;
	}

	.icon-comments {
		background-size: 27px auto;
	}

	.icon-mail {
		background-size: 19px auto;
	}

	/* /icons */
	/* bg */
	.bg-main {
		width: 1591px;
		right: -110px;
	}

	.bg-video {
		top: 70px;
		right: -280px;
		width: 550px;
	}

	.bg-features-1 {
		top: 120px;
		right: 0;
		width: 600px;
	}

	.bg-features-2 {
		top: 270px;
		right: -310px;
		width: 740px;
	}

	.bg-features-3 {
		top: 800px;
		right: -120px;
		width: 600px;
	}

	.bg-features-4 {
		top: 1250px;
		right: -120px;
		width: 523px;
	}


	.bg-features-1-crypto {
		top: -210px;
		right: 0;
		width: 600px;
	}

	.bg-features-2-crypto {
		top: 30px;
		right: -310px;
		width: 760px;
		height: 1400px;
	}

	.bg-features-3-crypto {
		top: 450px;
		right: -120px;
		width: 600px;
	}

	.bg-footer {
		top: 0;
		left: -260px;
	}

	.bg-comments {
		left: 50px;
		top: -170px;
		width: 1348px;
	}

	/* index-1 test */
	.main-notebook-test {
		background: none;
	}
	.mobile-1 {
		background: transparent url("images/mobile-interface-mobile.png") no-repeat center;
		background-size: 100% 100%;
		width: 192px;
		height: 412px;
		-webkit-transform: scale(0.999);
		transform: scale(0.999);
	}
	.mobile-2 {
		background: transparent url("images/mobile-interface-mobile2.png") no-repeat center;
		background-size: 100% 100%;
		width: 192px;
		height: 412px;
		-webkit-transform: scale(0.999);
		transform: scale(0.999);
	}
	.mobile-3 {
		background: transparent url("images/mobile-interface-mobile3.png") no-repeat center;
		background-size: 100% 100%;
		width: 192px;
		height: 412px;
		-webkit-transform: scale(0.999);
		transform: scale(0.999);
	}
	.mobile-4 {
		background: transparent url("images/mobile-interface-mobile4.png") no-repeat center;
		background-size: 100% 100%;
		width: 192px;
		height: 412px;
		-webkit-transform: scale(0.999);
		transform: scale(0.999);
	}
	.mobile-5 {
		background: transparent url("images/mobile-interface-mobile5.png") no-repeat center;
		background-size: 100% 100%;
		width: 192px;
		height: 412px;
		-webkit-transform: scale(0.999);
		transform: scale(0.999);
	}



	.mobile-interfaces3 {
		background: none;
	}
	.bg-features-1-1-test {
		background: none;
	}
	.bg-features-2-1-test {
		background:  none;
	}
	.bg-features-3-1-test {
		background:  none;
	}
	.bg-features-1-1-crypto-test {
		background: none;
	}

	.youtube-player {
		background: none;
	}
	/* end index-1 test */
	/* /bg */
	/* header */
	.header {
		height: 95px;
		background-color: #182848;
	}
	.header-container > .container {
		width: 100%;
		padding: 0px;
	}
	.header-menu {
		display: none;
	}

	.header-menu-mobile {
		position: fixed;
		text-align: center;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: #182848;
		z-index: 111;
		padding-top: 50px;
	}

	.header-menu-close {
		display: none;
	}

	.header-menu-mobile a {
		display: block;
		font-size: 18px;
		margin-bottom: 30px;
		color: #ffffff;
		text-transform: uppercase;
	}

	.header-menu-mobile a:hover {
		text-decoration: underline;
	}

	.header-menu-mobile-close {
		width: 40px;
		height: 40px;
		border: none;
		background: url(images/icons/close.svg) no-repeat center;
		cursor: pointer;
		position: absolute;
		top: -10px;
		right: 10px;
	}

	.header-logo {
		margin-left: 0px;
	}

	.header-logo img {
		display: block;
		width: 77px;
		margin-top: -10px;
		margin-left: 2px;
	}

	.header-button {
		position: absolute;
		top: 15px;
		right: 28px;
		width: 65px;
		height: 65px;
		background: url(images/icons/menu.svg) no-repeat center;
		cursor: pointer;
		border: none;
	}

	/* /header */
	/* main */
	.main {
		padding-bottom: 0;
		padding-top: 40px;
	}

	.main-mobile-title {
		line-height: 67px;
		font-size: 27px;
		text-align: center;
		color: #182848;
	}


	.main-notebook {
		position: relative;
		top: auto;
		right: auto;
		display: block;
		width: 100%;
	}

	.main-notebook1 {
		top: auto;
		right: auto;
		display: block;
		width: 100%;
	}

	.main-title {
		width: 260px;
		margin: 0 auto;
		margin-top: 10px;
		line-height: 26px;
		font-size: 18px;
		text-align: center;
		color: #182848;
		margin-bottom: 20px;
	}

	.mobile-interface-download {
		position: relative;
		top: auto;
		right: auto;
		display: block;
		/* width: 60%; */
		margin-left: 0px;
		justify-content: center;
		margin: 0 auto;
	}

	.mobile-download-button {
		display: flex;
		justify-content: center;
		padding-top: 35px;
		padding-bottom: 35px;

	}

	/* /main */
	/* download */
	.download-title {
		font-size: 18px;
		text-align: center;
		color: #182848;
		padding-top: 35px;
		padding-bottom: 30px;
	}

	.download {
		flex-wrap: wrap;
		height: auto;
		justify-content: baseline;
	}

	.download-text {
		text-align: center;
		line-height: 22px;
		font-size: 16px;
		color: #121010;
		padding-bottom: 0px;

	}

	.download-container {
		padding-top: 0px;
	}

	.download-text-app {
		text-align: center;
		line-height: 22px;
		font-size: 16px;
		color: #121010;
		padding-bottom: 60px;

	}

	.download-item {
		width: 50%;
		height: 137px;
	}

	.mobile_interface {
		position: relative;
		top: auto;
		right: auto;
		display: block;
		width: 100%;
		margin-left: 0px;
	}

	.download-item:after {
		content: none;
	}

	/* /download */
	/* video */
	.video .container {
		height: 270px;
		padding-top: 50px;
	}

	.video-container {
		width: 380px;
		margin-left: -40px;

	}

	.video-text {
		padding-left: 10px;
		text-align: center;
	}

	.buy-crypto-cards {
		width: auto;
	}

	.buy {
		flex-wrap: wrap;
		height: 455px;
		width: auto;
	}

	.button-cards {
		flex-wrap: wrap;
		margin-left: auto;
		margin-right: auto;
		width: auto;
		padding-bottom: 20px;
	}


	.list1 {
		position: relative;
		top: -400px;
		margin-bottom: -400px;
	}
	/* /video */
	/* list */
	.list {
		margin-top: 100px;
		padding-bottom: 0;
	}

	.list-title-container .icon {
		float: none;
	}

	.list-title {
		line-height: 30px;
		font-size: 14px;
		margin-top: 20px;
	}

	.list-items {
		margin-left: 0;
		margin-top: 5px;
	}

	.list-item {
		width: 32%;
		padding-top: 0px;
		margin-bottom: 0;
		margin-top: 30px;
	}

	.list-items-all:not(.list-items-hide) {
		display: inline;
	}

	.list-item img {
		width: 45px;
	}

	.list-item-name {
		font-size: 14px;
	}
	/*swiper*/

	.swiper-slide {
		width: 100% !important;
	}
	.swiper-button-next,
	.swiper-button-prev {
		display: none;
	}
	.swiper-pagination {
		padding: 0px;
	}

	/* flex */

	.flex-container {
		flex-flow: column;
		padding: 0px;
	}
	.flex-item:nth-child(1) {
		height: auto;
		padding: 20px;
	}
	.flex-item:nth-child(2) {
		width: 100%;
		height: 100%;
	}
	.flex-item li:before {
		display: none;
		position: unset;
		content: none;
	}
	.flex-item li {
		padding-left: 0px;
		margin-top: 20px
	}
	.flex-item:nth-child(2) img {
		width: 100%;
		height: 100%;
	}

	.buy-coin-features {
		height: auto;
	}
	.flex {
		padding-top: unset;
	}
	.trustpilot-logo {
		width: 40%;
	}
	.buy-coin-item-features {
		background-color: white;
		min-height: auto;
	}

	/* flex end */


	/* /list */
	/* features */
	.features {
		padding-top: 60px;
	}

	.features-subtitle {
		line-height: 27px;
		font-size: 14px;
		margin-bottom: 30px;
	}

	.features-item {
		padding-top: 0px;
		margin-top: 60px;
		margin-left: 0;
		width: 250px;
		position: relative;
		top: -570px;

	}

	.features-title {
		line-height: 67px;
		font-size: 48px;
		text-align: center;
		color: #182848;
		margin-top: 50px;
	}

	.features-title-app {
		line-height: 67px;
		font-size: 48px;
		text-align: center;
		color: #182848;
		margin-top: 150px;
	}

	.features-text {
		line-height: 18px;
		font-size: 14px;
		width: 250px;
	}

	.features-item:nth-child(2) {
		margin-top: 80px;
		width: 260px;
	}

	.features-item:nth-child(3) {
		padding-top: 220px;
	}

	.features-item-right {
		float: right;
		padding-top: 78px;
	}

	.features-item-left {
		padding-top: 110px !important;
	}

	/* /features */
	/* partners */
	.partners {
		width: auto;
		/* margin-top: 520px; */
	}

	.partners-list,
	.investors,
	.partners_special {
		justify-content: center;
	}

	.partners_special {
		vertical-align: middle;
		padding-top: 30px;
		padding-bottom: 30px;
		margin-left: 0px;
		text-align: left;
		width: auto;
	}


	.partners-list a,
	.investors a {
		justify-content: center;

	}

	.partners-list a + a,
	.investors a + a {
		/*padding-left: 0;*/
	}

	/* /partners */
	/* comments */
	.comments-title {
		font-size: 16px;
	}

	.comments-arrow {
		width: 24px;
		height: 24px;
		top: 20px;
		background-size: 13px;
	}

	.comments-arrows-reviews {
		top: 30px;
	}

	.comments-arrow-left {
		right: 60px;
	}

	.comments-item,
	.comments-item-reviews {
		width: 260px;
		height: 160px;
		padding: 60px 30px 0 30px;
	}

	.comments-item + .comments-item {
		margin-left: 28px;
	}

	.comments-item img {
		display: inline-block;

	}

	.comments-image {
		top: 22px;
	}

	.comments-text {
		margin-top: 17px;
		line-height: 22px;
		font-size: 12px;
		height: 67px;
		overflow: hidden;
	}

	.comments-slider {
		height: 185px;
	}

	.comments-item .button {
		width: 160px;
		bottom: 15px;
		font-size: 14px;
		line-height: 30px;
	}
	.team {
		width: 100%;
		height: 356px;
		padding-top: 16px;
	}
	.reviews .comments-slider, .team .comments-slider {
		height: 420px;
	}
	.reviews .comments-item {
		height: 220px !important;
		margin-bottom: 30px;
	}
	.reviews .comments-item, .team .comments-item,
	.team div .comments-item-reviews,
	.reviews div .comments-item-reviews  {
		height: 300px;
		margin-top: 20px;
		overflow: -webkit-paged-y;
	}

	.team-author {
		margin-bottom: 10px;
	}

	.team-author-name {
		font-size: 14px;
	}

	.team-text {
		line-height: 20px;
		font-size: 12px;
		margin-bottom: 20px;
	}

	.team-social {
		height: 50px;
		padding-top: 22px;
		padding-bottom: 10px;
		position: relative;
		width: auto;
		left: 0;
		right: 0;
		bottom: 0;
	}

	.team-social img {
		width: 25px;
	}

	.team-social a + a {
		margin-left: 40px;
	}

	/* /comments */
	/* subscribe */
	.subscribe {
		margin-top: 40px;
		padding-left: 20px;
		padding-right: 20px;
	}

	.subscribe .container {
		padding-left: 0;
	}

	.subscribe .icon-mail {
		position: relative;
		margin-bottom: 20px;
	}

	.subscribe-top {
		margin-top: 40px;
	}

	.subscribe-top .container {
		padding-left: 35px;
		padding-top: 0px;

	}

	.subscribe-top .icon-mail {
		position: relative;
		margin-bottom: 20px;
	}

	.subscribe-title {
		line-height: 25px;
		font-size: 12px;
	}

	.subscribe-title-top,
	.kol-form-title {
		line-height: 25px;
		font-size: 15px;
		/* margin-left: 50px; */
	}

	.subscribe .kol-form-title,
	.subscribe-mobile .kol-form-title {
		line-height: 25px;
		font-size: 18px;
		/* margin-left: 30px; */
	}

	.subscribe-mobile .kol-form-title {
		text-align: left;
		margin-left: -30px;
	}

	.subscribe-form {
		width: 100%;
		text-align: center;
	}

	.subscribe-form-top {
		width: 100%;
		text-align: center;
	}

	.kol-form-group, .kol_signup_form {
		width: 100%;
	}


	#kol_embed_container_229607 {
		padding-left: 10px;
		margin-left: auto;
		margin-right: auto;
	}

	.kol-form-header .kol-form-title {
		line-height: 40px;
		font-size: 24px;
		color: #182848;
		padding-left: 0px;
		margin-top: 40px;
		font-family: "Roboto Medium";
		font-weight: 500;
		width: 320px;
	}

	.subscribe-mobile .container {
		padding-left: 40px;
	}

	.subscribe-mobile .form-group {
		margin-left: 0px;
	}

	.subscribe .kol-form-button-group {
		position: relative;
		top: auto;
		margin-top: 20px;
		width: 318px;
		padding-left: 20px;
		padding-right: 20px;
		right: auto;
	}

	.subscribe-mobile .kol-form-button-group {
		position: relative;
		top: auto;
		margin-top: 20px;
		width: 228px;
		margin-left: 1px;
		right: 0px;
	}

	.subscribe-top .kol-form-button-group {
		position: relative;
		top: auto;
		margin-top: 20px;
		width: 228px;
		margin-left: 8px;
		right: 0;
	}

	.kol-form-button {
		width: 318px;

	}

	.mc-field-group input[type="email"] {
		width: 100%;
	}

	.mc-field-group button,
	.mc-field-group input[type="submit"] {
		position: relative;
		top: auto;
		right: auto;
		margin-top: 20px;
	}

	.mc-field-group-top button,
	.mc-field-group-top input[type="submit"] {
		position: relative;
		top: auto;
		right: auto;
		margin-top: 20px;
		width: 228px;
		margin-left: 1px;
	}

	.mc-field-group input[type="email"],
	.subscribe .form-control {
		width: 320px;
	}

	#mc_embed_signup div.mce_inline_error {
		width: 100% !important;
		margin-top: -98px !important;
	}

	/* /subscribe */
	/* footer */
	.footer {
		overflow: hidden;
		margin-top: 80px;
	}

	.footer-email {
		font-size: 16px;
		margin-top: 0;
	}

	.footer-social {
		width: 180px;
		position: absolute;
		top: 10px;
		right: 0;
		text-align: left;
	}

	.footer-social-icon {
		margin-left: 12px;
		margin-bottom: 20px;
	}

	.footer-copy {
		margin-top: 260px;
	}

	.footer-logo {
		position: absolute;
		top: 100px;
		left: 0;
		width: 80px;
	}

	/* /footer */
	/* page */
	.page {
		margin-top: 20px;
	}

	.page-title {
		font-size: 38px;
		margin-bottom: 40px;
	}

	.page-text {
		font-size: 16px;
		line-height: 28px;
	}

	.page-text-item {
		display: inline-block;
		font-size: 20px;
		margin-bottom: 5px;
	}
	.bg-main {
		display: none;
	}

	.bg-page-1 {
		top: 190px;
		width: 630px;
	}

	.bg-page-2 {
		top: 560px;
		width: 630px;
	}

	.bg-page-3 {
		top: 1880px;
		width: 680px;
	}

	.page + .footer .container:before {
		content: none;
	}

	/* /page */
	/* modal */
	.modal {
		background-color: #F7F8F9;
	}

	.modal-close {
		z-index: 1111111;
	}

	.modal .container,
	.modal .modal-container {
		padding: 0;
		width: 100%;
		max-width: 1000px !important;
		position: relative;
		top: auto;
		left: auto;

		-o-transform: none;
		-ms-transform: none;
		-moz-transform: none;
		-webkit-transform: none;
		transform: none;
		padding-bottom: 30px;
	}

	.modal-form,
	.modal-sended {
		max-width: 300px;
		margin: 0 auto;
	}

	.modal .modal-container {
		border-radius: 0;
		max-width: 300px;
		margin: 0 auto;
	}

	.modal .icon {
		display: none;
	}

	.modal-form-container {
		padding-top: 35px;
		padding-left: 0;
	}

	.modal .subscribe-title {
		max-width: 230px;
		margin: 0 auto;
		font-size: 18px;
		padding-top: 0;
	}

	.modal-form-link {
		margin-top: 105px;
	}

	.modal .download {
		margin-top: 30px;
		padding-top: 30px;
		background-color: #FFFFFF;
		box-shadow: 0 38px 50px rgba(34, 83, 139, 0.1);
	}

	.modal .footer-social {
		width: 100%;
		text-align: center;
		position: relative;
		top: 0;
	}

	.modal-soc {
		margin-top: 30px;
	}

	.modal-soc-title {
		font-size: 16px;
	}

	/* /modal */
	/* new footer */
	.footer-new {
		padding-bottom: 30px;
		text-align: center;
	}

	.footer-new-left {
		min-width: 100%;
		margin-bottom: 20px;
		margin-top: 20px;
	}

	.footer-row {
		display: block;
	}

	.footer-new-cols {
		display: block;
	}

	.footer-new-col {
		padding-top: 20px;
	}

	.footer-new-email {
		font-size: 20px;
	}

	/* /new footer */

	/************* SUPPORT CARDS *************/
	.support .card-item {
		width: 48%;
	}

	.support .article-item {
		width: 100%;
		margin-right: 0;
	}

	.support .article-item-title {
		font-size: 18px;
	}

	.support .support-article-title {
		font-size: 32px;
	}
	/************* /SUPPORT CARDS ************/

	/************* SUPPORT PAGE *************/
	.support-page {
		flex-direction: column;
	}

	.support-aside {
		order: 2;
		width: 100%;
		margin-top: 20px;
	}

	.support-main {
		padding: 30px;
	}

	.support-main-title {
		font-size: 35px;
	}
	/************* /SUPPORT PAGE ************/
}

@media screen and (max-width: 600px) {
	main.support {
		margin-top: -150px;
	}

	.support-title {
		font-size: 44px;
	}

	.support-sub-title {
		font-size: 25px;
	}

	.support .list-cards {
		justify-content: center;
	}

	.support .card-item {
		width: 100%;
		margin-bottom: 40px;
	}

	.support-main-subtitle {
		font-size: 27px;
	}

	.article-header {
		font-size: 22px;
	}

	.article-description {
		font-size: 15px;
	}
}
@media screen (min-width: 767px) and (max-width: 768px) {
	.kol-form-title {
		width: 300px;
	}
	.subscribe {
		margin: 0 auto;
		width: 377px;
	}
	.header-button {

	}
}


.only-mobile {
	display: none;
}

@media screen and (min-width: 800px) and (max-width: 1280px) {
	.main-notebook {
		position: absolute;
		top: -90px;
		width: 710px;
		right: -40px;
		margin-top: 50px;
	}

	.main-notebook1 {
		position: absolute;
		top: -90px;
		width: 710px;
		margin-top: 50px;
		right: -350px;
	}

	.partners-list {
		display: inline-flex;
		flex-wrap: wrap;
		max-width: 1280px;
		justify-content: center;
	}

	.partners-list a {
		padding-left: 25px;
	}

	.partners-list a + a {
		/*padding-left: 30px;*/
	}

	.partners-list a img {
		object-fit: contain;
	}



	.support .card-item {
		width: 32%;
	}

}

@media screen and (min-width: 1365px) and (max-width: 1600px) {
	.main-notebook {
		right: -80px;
		width: 740px;
	}

	.main-notebook-wallet {
		right: -50px;
		width: 730px;
	}

	.comments-arrows-reviews {
		top: 30px;
	}
	.partners-list {
		max-width: 1300px;
	}
}

@media screen and (max-width: 830px) {
	body {
		min-width: inherit;
	}
	iframe {
		width: 100%;
		height: 230px;
	}
	.container {
		width: 100%;
		padding: 0 20px;
	}

	.header-container > .container {
		width: 100%;
		padding: 0px;
	}

	.only-mobile {
		display: block;
	}

	.mobile-hide {
		display: none;
	}

	/* icons */
	.icon {
		width: 46px;
		height: 46px;
	}

	.icon-star {
		background-size: 20px auto;
	}

	.icon-exchange {
		background-size: 19px auto;
	}

	.icon-migration {
		background-size: 18px auto;
	}

	.icon-buy-crypto {
		background-size: 18px auto;
	}

	.icon-secure {
		background-size: 15px auto;
	}

	.icon-partners {
		background-size: 22px auto;
	}

	.icon-comments {
		background-size: 27px auto;
	}

	.icon-mail {
		background-size: 19px auto;
	}

	/* /icons */
	/* bg */
	.bg-main {
		width: 1591px;
		right: -110px;
	}

	.bg-video {
		top: 70px;
		right: -280px;
		width: 550px;
	}

	.bg-features-1 {
		top: 120px;
		right: 0;
		width: 600px;
	}

	.bg-features-2 {
		top: 270px;
		right: -310px;
		width: 740px;
	}

	.bg-features-3 {
		top: 800px;
		right: -120px;
		width: 600px;
	}

	.bg-features-4 {
		top: 1226px;
		right: -120px;
		width: 565px;
	}


	.bg-features-1-crypto {
		top: -210px;
		right: 0;
		width: 600px;
	}

	.bg-features-2-crypto {
		top: 30px;
		right: -310px;
		width: 760px;
		height: 1400px;
	}

	.bg-features-3-crypto {
		top: 450px;
		right: -120px;
		width: 600px;
	}

	.bg-footer {
		top: 0;
		left: -260px;
	}

	.bg-comments {
		left: 50px;
		top: -170px;
		width: 1348px;
	}

	/* index-1 test */
	.main-notebook-test {
		background: none;
	}
	.mobile-1 {
		background: transparent url("images/mobile-interface-mobile.png") no-repeat center;
		background-size: 100% 100%;
		width: 192px;
		height: 412px;
		-webkit-transform: scale(0.999);
		transform: scale(0.999);
	}
	.mobile-2 {
		background: transparent url("images/mobile-interface-mobile2.png") no-repeat center;
		background-size: 100% 100%;
		width: 192px;
		height: 412px;
		-webkit-transform: scale(0.999);
		transform: scale(0.999);
	}
	.mobile-3 {
		background: transparent url("images/mobile-interface-mobile3.png") no-repeat center;
		background-size: 100% 100%;
		width: 192px;
		height: 412px;
		-webkit-transform: scale(0.999);
		transform: scale(0.999);
	}
	.mobile-4 {
		background: transparent url("images/mobile-interface-mobile4.png") no-repeat center;
		background-size: 100% 100%;
		width: 192px;
		height: 412px;
		-webkit-transform: scale(0.999);
		transform: scale(0.999);
	}
	.mobile-5 {
		background: transparent url("images/mobile-interface-mobile5.png") no-repeat center;
		background-size: 100% 100%;
		width: 192px;
		height: 412px;
		-webkit-transform: scale(0.999);
		transform: scale(0.999);
	}


	.mobile-interfaces3 {
		background: none;
	}
	.bg-features-1-1-test {
		background: none;
	}
	.bg-features-2-1-test {
		background:  none;
	}
	.bg-features-3-1-test {
		background:  none;
	}
	.bg-features-1-1-crypto-test {
		background: none;
	}

	.youtube-player {
		background: none;
	}
	/* end index-1 test */
	/* /bg */
	/* header */
	.header {
		height: 95px;
		background-color: #182848;
	}
	.header-menu {
		display: none;
	}

	.header-menu-mobile {
		position: fixed;
		text-align: center;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: #182848;
		z-index: 111;
		padding-top: 50px;
	}

	.header-menu-close {
		display: none;
	}

	.header-menu-mobile a {
		display: block;
		font-size: 18px;
		margin-bottom: 30px;
		color: #ffffff;
		text-transform: uppercase;
	}

	.header-menu-mobile a:hover {
		text-decoration: underline;
	}

	.header-menu-mobile-close {
		width: 40px;
		height: 40px;
		border: none;
		background: url(images/icons/close.svg) no-repeat center;
		cursor: pointer;
		position: absolute;
		top: -10px;
		right: 10px;
	}

	.header-logo {
		margin-left: 0px;
	}

	.header-logo img {
		display: block;
		width: 77px;
		margin-top: -10px;
		margin-left: 2px;
	}

	.header-button {
		position: absolute;
		top: 17px;
		right: 28px;
		width: 65px;
		height: 65px;
		background: url(images/icons/menu.svg) no-repeat center;
		cursor: pointer;
		border: none;
	}

	/* /header */
	/* main */
	.main {
		padding-bottom: 0;
		padding-top: 40px;
	}

	.main-mobile-title {
		line-height: 67px;
		font-size: 27px;
		text-align: center;
		color: #182848;
	}


	.main-notebook {
		position: relative;
		top: auto;
		right: auto;
		display: block;
		width: 100%;
	}

	.main-notebook1 {
		top: auto;
		right: auto;
		display: block;
		width: 100%;
	}

	.main-title {
		width: 260px;
		margin: 0 auto;
		margin-top: 10px;
		line-height: 26px;
		font-size: 18px;
		text-align: center;
		color: #182848;
		margin-bottom: 20px;
	}

	.mobile-interface-download {
		position: relative;
		top: auto;
		right: auto;
		display: block;
		width: 60%;
		margin-left: 0px;
		justify-content: center;
		margin: 0 auto;
	}

	.mobile-download-button {
		display: flex;
		justify-content: center;
		padding-top: 35px;
		padding-bottom: 35px;

	}
	#swap {
		height: 713px;
	}
	body div.item-page-container {
		margin-top: 0px;
	}
	/* /main */
	/* download */
	.download-title {
		font-size: 18px;
		text-align: center;
		color: #182848;
		padding-top: 35px;
		padding-bottom: 30px;
	}

	.download {
		flex-wrap: wrap;
		height: auto;
		justify-content: baseline;
	}

	.download-text {
		text-align: center;
		line-height: 22px;
		font-size: 16px;
		color: #121010;
		padding-bottom: 0px;

	}

	.download-container {
		padding-top: 0px;
	}

	.download-text-app {
		text-align: center;
		line-height: 22px;
		font-size: 16px;
		color: #121010;
		padding-bottom: 60px;

	}

	.download-item {
		width: 50%;
		height: 137px;
	}

	.mobile_interface {
		position: relative;
		top: auto;
		right: auto;
		display: block;
		width: 100%;
		margin-left: 0px;
	}

	.download-item:after {
		content: none;
	}

	/* /download */
	/* video */
	.video .container {
		height: 270px;
		padding-top: 50px;
	}

	.video-container {
		width: 380px;
		margin-left: -40px;

	}

	.video-text {
		padding-left: 10px;
		text-align: center;
	}

	.buy-crypto-cards {
		width: auto;
	}

	.buy {
		flex-wrap: wrap;
		height: 455px;
		width: auto;
	}

	.button-cards {
		flex-wrap: wrap;
		margin-left: auto;
		margin-right: auto;
		width: auto;
		padding-bottom: 20px;
	}

	/* /video */
	/* list */
	.list {
		margin-top: 100px;
		padding-bottom: 0;
	}

	.list-title-container .icon {
		float: none;
	}

	.list-title {
		line-height: 30px;
		font-size: 14px;
		margin-top: 20px;
	}

	.list-items {
		margin-left: 0;
		margin-top: 5px;
	}

	.list-item {
		width: 32%;
		padding-top: 25px;
		margin-bottom: 0;
		margin-top: 30px;
	}

	.list-items-all:not(.list-items-hide) {
		display: inline;
	}

	.list-item img {
		width: 36px;
	}

	.list-item-name {
		font-size: 14px;
	}

	/* /list */
	/* features */
	.features {
		padding-top: 60px;
	}

	.features-subtitle {
		line-height: 27px;
		font-size: 14px;
		margin-bottom: 30px;
	}

	.features-item {
		padding-top: 0px;
		margin-top: 60px;
		margin-left: 0;
		width: 250px;
		top:  unset;

	}

	.features-title {
		line-height: 67px;
		font-size: 48px;
		text-align: center;
		color: #182848;
		margin-top: 50px;
	}

	.features-title-app {
		line-height: 67px;
		font-size: 48px;
		text-align: center;
		color: #182848;
		margin-top: 150px;
	}

	.features-text {
		line-height: 18px;
		font-size: 14px;
		width: 250px;
	}

	.features-item:nth-child(2) {
		margin-top: 80px;
		width: 260px;
	}

	.features-item:nth-child(3) {
		padding-top: 220px;
	}

	.features-item-right {
		float: right;
		padding-top: 78px;
	}

	.features-item-left {
		padding-top: 110px !important;
	}

	/* /features */
	/* partners */
	.partners {
		width: auto;
		/* margin-top: 520px; */
	}

	.partners-list,
	.investors,
	.partners_special {
		justify-content: center;
	}

	.partners_special {
		vertical-align: middle;
		padding-top: 30px;
		padding-bottom: 30px;
		margin-left: 0px;
		text-align: left;
		width: auto;


	}

	.partners-list a,
	.investors a {
		justify-content: center;

	}

	.partners-list img,
	.investors img {
		display: flex;
		max-width: 100%;
	}

	.partners-list a + a,
	.investors a + a {
		/*padding-left: 0;*/
	}

	/* /partners */
	/* comments */
	.comments-title {
		font-size: 16px;
	}

	.comments-arrow {
		width: 24px;
		height: 24px;
		top: 20px;
		background-size: 13px;
	}

	.comments-arrows-reviews {
		top: 30px;
	}

	.comments-arrow-left {
		right: 60px;
	}

	.comments-item,
	.comments-item-reviews {
		width: 260px;
		height: 160px;
		padding: 60px 30px 0 30px;
	}

	.comments-item + .comments-item {
		margin-left: 28px;
	}

	.comments-item img {
		display: inline-block;
		width: 40px;
	}

	.comments-image {
		top: 22px;
	}

	.comments-text {
		margin-top: 17px;
		line-height: 22px;
		font-size: 12px;
		height: 67px;
		overflow: hidden;
	}

	.comments-slider {
		height: 185px;
	}

	.comments-item .button {
		width: 160px;
		bottom: 15px;
		font-size: 14px;
		line-height: 30px;
	}

	.team .comments-slider {
		height: 420px;
	}

	.team .comments-item,
	.team div .comments-item-reviews {
		height: 390px;
	}

	.team-author {
		margin-bottom: 10px;
	}

	.team-author-name {
		font-size: 14px;
	}

	.team-text {
		line-height: 20px;
		font-size: 12px;
	}

	.team-social {
		height: 70px;
		padding-top: 22px;
	}

	.team-social img {
		width: 25px;
	}

	.team-social a + a {
		margin-left: 40px;
	}

	/* /comments */
	/* subscribe */
	.subscribe {
		margin-top: 40px;
	}

	.subscribe .container {
		padding-left: 0;
	}

	.subscribe .icon-mail {
		position: relative;
		margin-bottom: 20px;
	}

	.subscribe-top {
		margin-top: 40px;
	}

	.subscribe-top .container {
		padding-left: 35px;
		padding-top: 0px;

	}

	.subscribe-top .icon-mail {
		position: relative;
		margin-bottom: 20px;
	}

	.subscribe-title {
		line-height: 25px;
		font-size: 12px;
	}

	.subscribe-title-top,
	.kol-form-title {
		line-height: 25px;
		font-size: 15px;
		/* margin-left: 50px; */
	}

	.subscribe .kol-form-title,
	.subscribe-mobile .kol-form-title {
		line-height: 25px;
		font-size: 18px;
		/* margin-left: 30px; */
	}

	.subscribe-mobile .kol-form-title {
		text-align: left;
		margin-left: -30px;
	}

	.subscribe-form {
		width: 100%;
		text-align: center;
	}

	.subscribe-form-top {
		width: 100%;
		text-align: center;
	}

	.kol-form-group {
		width: 100%;
	}

	#kol_embed_container_229607 {
		padding-left: 10px;
		margin-left: auto;
		margin-right: auto;
	}

	.kol-form-header .kol-form-title {
		line-height: 40px;
		font-size: 24px;
		color: #182848;
		padding-left: 0px;
		margin-top: 40px;
		font-family: "Roboto Medium";
		font-weight: 500;
		width: 320px;
	}

	.subscribe-mobile .container {
		padding-left: 40px;
	}

	.subscribe-mobile .form-group {
		margin-left: 0px;
	}

	.subscribe .kol-form-button-group {
		position: relative;
		top: auto;
		margin-top: 20px;
		width: 228px;
		margin-left: 1px;
		right: -60px;
	}

	.subscribe-mobile .kol-form-button-group {
		position: relative;
		top: auto;
		margin-top: 20px;
		width: 228px;
		margin-left: 1px;
		right: 0px;
	}

	.subscribe-top .kol-form-button-group {
		position: relative;
		top: auto;
		margin-top: 20px;
		width: 228px;
		margin-left: 8px;
		right: 0;
	}

	.kol-form-button {
		width: 230px;
	}

	.mc-field-group input[type="email"] {
		width: 100%;
	}

	.mc-field-group button,
	.mc-field-group input[type="submit"] {
		position: relative;
		top: auto;
		right: auto;
		margin-top: 20px;
	}

	.mc-field-group-top button,
	.mc-field-group-top input[type="submit"] {
		position: relative;
		top: auto;
		right: auto;
		margin-top: 20px;
		width: 228px;
		margin-left: 1px;
	}

	.mc-field-group input[type="email"],
	.subscribe .form-control {
		width: 320px;
		height: 50px;
	}

	#mc_embed_signup div.mce_inline_error {
		width: 100% !important;
		margin-top: -98px !important;
	}

	/* /subscribe */
	/* footer */
	.footer {
		overflow: hidden;
		margin-top: 80px;
	}

	.footer-email {
		font-size: 16px;
		margin-top: 0;
	}

	.footer-social {
		width: 180px;
		position: absolute;
		top: 10px;
		right: 0;
		text-align: left;
	}

	.footer-social-icon {
		margin-left: 12px;
		margin-bottom: 20px;
	}

	.footer-copy {
		margin-top: 260px;
	}

	.footer-logo {
		position: absolute;
		top: 100px;
		left: 0;
		width: 80px;
	}

	/* /footer */
	/* page */
	.page {
		margin-top: 20px;
	}

	.page-title {
		font-size: 38px;
		margin-bottom: 40px;
	}

	.page-text {
		font-size: 16px;
		line-height: 28px;
	}

	.page-text-item {
		display: inline-block;
		font-size: 20px;
		margin-bottom: 5px;
	}
	.bg-main {
		display: none;
	}

	.bg-page-1 {
		top: 190px;
		width: 630px;
	}

	.bg-page-2 {
		top: 560px;
		width: 630px;
	}

	.bg-page-3 {
		top: 1880px;
		width: 680px;
	}

	.page + .footer .container:before {
		content: none;
	}

	/* /page */
	/* modal */
	.modal {
		background-color: #F7F8F9;
	}

	.modal-close {
		z-index: 1111111;
	}

	.modal .container,
	.modal .modal-container {
		padding: 0;
		width: 100%;
		max-width: 1000px !important;
		position: relative;
		top: auto;
		left: auto;

		-o-transform: none;
		-ms-transform: none;
		-moz-transform: none;
		-webkit-transform: none;
		transform: none;
		padding-bottom: 30px;
	}

	.modal-form,
	.modal-sended {
		max-width: 300px;
		margin: 0 auto;
	}

	.modal .modal-container {
		border-radius: 0;
		max-width: 300px;
		margin: 0 auto;
	}

	.modal .icon {
		display: none;
	}

	.modal-form-container {
		padding-top: 35px;
		padding-left: 0;
	}

	.modal .subscribe-title {
		max-width: 230px;
		margin: 0 auto;
		font-size: 18px;
		padding-top: 0;
	}

	.modal-form-link {
		margin-top: 105px;
	}

	.modal .download {
		margin-top: 30px;
		padding-top: 30px;
		background-color: #FFFFFF;
		box-shadow: 0 38px 50px rgba(34, 83, 139, 0.1);
	}

	.modal .footer-social {
		width: 100%;
		text-align: center;
		position: relative;
		top: 0;
	}

	.modal-soc {
		margin-top: 30px;
	}

	.modal-soc-title {
		font-size: 16px;
	}

	/* /modal */
	/* new footer */
	.footer-new {
		padding-bottom: 30px;
		text-align: center;
	}

	.footer-new-left {
		min-width: 100%;
		margin-bottom: 20px;
		margin-top: 20px;
	}

	.footer-row {
		display: block;
	}

	.footer-new-cols {
		display: block;
	}

	.footer-new-col {
		padding-top: 20px;
	}

	.footer-new-email {
		font-size: 20px;
	}

	/* /new footer */

	/************* SUPPORT CARDS *************/
	.support .card-item {
		width: 48%;
	}

	.support .article-item {
		width: 100%;
		margin-right: 0;
		padding: 0 20px;
	}

	.support .article-item-title {
		font-size: 18px;
	}

	.support .support-article-title {
		font-size: 32px;
	}
	/************* /SUPPORT CARDS ************/

	/************* SUPPORT PAGE *************/
	.support-page {
		flex-direction: column;
	}

	.support-aside {
		order: 2;
		width: 100%;
		margin-top: 20px;
		padding: 0 40px;
	}

	.support-main {
		padding: 0px;
	}

	.support-main-title {
		font-size: 30px;
		padding: 0 20px;
		padding-top: 25px;
		margin-bottom: -15px;
	}
	.support-main-title img {
		width: 50px;
	}
	.support-articles {
		padding:  0 20px;
	}
	/************* /SUPPORT PAGE ************/
}

@media screen and (max-width: 600px) {
	main.support {
		margin-top: -150px;
	}

	.support-title {
		font-size: 44px;
	}

	.support-sub-title {
		font-size: 25px;
	}

	.support .list-cards {
		justify-content: center;
	}

	.support .card-item {
		width: 100%;
		margin-bottom: 40px;
	}

	.support-main-subtitle {
		font-size: 27px;
	}

	.article-header {
		font-size: 22px;
	}

	.article-description {
		font-size: 15px;
	}
}

.trustpilot-logo {
	width: 10%;
	top: 15px;
	position: relative;
}

.swiper-button-next,
.swiper-button-prev {
	width: 27px;
	height: 44px;
	margin-top: -22px;
	z-index: 10;
	cursor: pointer;
	background-size: 27px 44px;
	background-position: center;
	background-repeat: no-repeat;
}
.swiper-button-next {
	top: -191px !important;
	right: -45px !important;
	position: relative !important;
	margin-left: auto;
}
.swiper-button-prev {
	top: -211px !important;
	left: -45px !important;
	position: relative !important;
	margin-right: auto;
}
.swiper-pagination {
	padding: 30px;
}

.download-text,
.download-text p {
	text-align: center;
	line-height: 28px;
	font-size: 20px!important;
	color: #121010;
	padding-bottom: 20px;
	max-width: 100%!important;
}

.download-text-small,
.download-text-small p {
	font-size: 16px!important;
}

.mb-no-big {
	margin-bottom: -50px;
}

.strong-css {
	font-size: 20px!important;
}

.f-light,
.f-light p {
	font-family: "Roboto Ligth" !important;
	font-weight: 300;
}

.buy-coin-wrapper {
	display: grid;
	grid-row-gap: 80px;
	justify-content: center;
	grid-column-gap: 38px;
	grid-template-columns: repeat(3, 320px);
}
.buy-coin-item {
	/* display: inline-flex; */
	/* vertical-align: top; */
	/* flex-wrap: wrap; */
	width: 320px;
	/* height: 300px; */
	background: #FFFFFF;
	box-shadow: 0 8px 40px rgba(24, 40, 72, 0.1);
	border-radius: 10px;
	/* padding: 110px 24px 0 24px; */
	/* text-align: center; */
	white-space: normal;
	line-height: 1;
	text-align: center;
}
.buy-coin-fiat-value {
	width: 100%;
	height: 122px;
	background-color: #324B80;
	text-align: center;
	padding: 25px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
.buy-coin-fiat-value > span {
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 30px;
	line-height: 67px;
	color: #ffffff;
}
.buy-coin-rate {
	width: 100%;
	height: 178px;
	padding: 15px;
}
.buy-coin-rate p {
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: normal;
	text-align: center;
	color: #929EAA;
}
.buy-coin-rate img {
	height: 36px;
	vertical-align: -4px;
	padding-right: 5px;
}
.buy-coin-rate span {
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 33px;
	line-height: 67px;
	text-align: center;
	color: #172A3F;
}
.buy-coin-rate span.ticker {
	color: #929EAA;
	padding-left: 5px;
}
.buy-coin-rate span {
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 33px;
	line-height: 67px;
	text-align: center;
	color: #172A3F;
}
.buy-coin-button {
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
	text-align: center;
	letter-spacing: 1px;
	text-transform: uppercase;
	color: #324B80;
	border-top: 1px solid #D1D8E2;
	padding: 20px;
	position: relative;
	top: 14px;
}

.coin-price-section {
	padding-top: 50px;
}

.comments {
	padding-top: 35px;
}

.button-suggest a {
	color: #182848!important;
	text-decoration: underline;
}
.button-suggest a:hover {
	opacity: .6;
}

@media (max-width: 830px) {
	.download-text {
		text-align: center!important;
		line-height: 22px!important;
		font-size: 16px!important;
		color: #121010!important;
		padding-bottom: 0!important;
	}
}
