.container-map{
    padding:25px;
    background:white;
    border-radius:10px;
    margin-top: 12.5%;
    width:100%;
    margin: 6.25% auto;
}


.container-map .wrap-block-notes
 ul{
    list-style:none;
}


.wrap-block-notes{
    margin-top:25px;
}


.wrap-block-notes h2{
    font-size:2em;
    color: #182848;
    padding:10px 0;
}

.wrap-block-notes ul li a{
    color:#182848;
}

.wrap-block-notes ul li a:hover{
    color:#455066;
}