.header{
    width: 1920px;
    padding:33px 294px;
    height: 90px;
    box-sizing: border-box;
    background: #324B80;
    margin:0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top:0;
    left:50%;
    transform:translateX(-50%);
	transition:all .3s ease-in-out;
	z-index:999999;
}

.shrink{
    height:50px!important;
}

.shrink-btn{
    height:38px!important;
    line-height: 38px!important;
}


svg{
    transition:all .3s ease-in-out;
}

.header__logo{
    display:flex;
}

.header__navigation ul{
    display: flex;
    list-style: none;
}

.header__navigation ul li a{
    text-decoration: none;
    color:white;
    text-transform: uppercase;
    width:162px;
    display: block;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 3px;
    text-align: center;
}

.btn--download{
    background: #2FA6FA;
    border-radius: 48px;
    color:white;
    text-align: center;
    width:188px;
    height:45px;
    line-height: 45px;
    text-transform: uppercase;
    cursor: pointer;
   transition:height .3s ease-in-out,line-height .3s ease-in-out;

    
    
}

.btn--download:hover{
   
    background: linear-gradient(180deg, #0075E2 0%, #41C1FD 100%, #41C1FD 100%);
}